doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var imgAssets = '../assets/bonus_emulators/';

+header('Bonus: Emulators', 'Adam Vesecký', imgAssets + 'chapter_emulators.svg', themePath + 'theme_aph.scss')

.reveal
	.slides
		include ./chapters/bonus_emulators.pug
				
+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games')
script(src!='../../scripts/reveal-setup.js')
