doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug
include ./mixins/summary.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/hall_yellowgreen.jpg';


+header('Assets', 'Adam Vesecký', globalAssets + 'lectures/ic_lecture03.svg', themePath + 'theme_aph.scss')

.reveal
	.slides
		+title('Lecture 3', 'Assets', 'color-emerald')
		include ./chapters/assets_intro.pug
		include ./chapters/assets_management.pug
		include ./chapters/assets_multimedia.pug
		include ./chapters/assets_generic.pug
		+summary_lecture03()
		+quote-god-of-war()

+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games, Lecture 3: Assets')
script(src!='../../scripts/reveal-setup.js')
