$highlight-color: #e9e56f;
$highlight-color-sec: #ff9abb;
$highlight-color-third: #079ad9;
$glow-color: #00d0d0;
$link-color: #f6c9a0;
$title-color: #e9e56f;
$dark-color: #000;
$darker-color: #333;
$light-color: #FFF;
$text-color: #E0E0E0;
$text-selection-color: $highlight-color-third;

$aberration-color-first: white;
$aberration-color-second: rgba(255, 215, 0, 0.75);
$aberration-color-third: rgba(255, 0, 0, 0.9);
$aberration-color-forth: rgba(0, 255, 255, 0.9);
