@import "./fonts.scss";
@import "./colors.scss";

html {
  font-family: $font-regular;
  background-color: #000;
  background-image: url("../images/dashboard/dashboard_logo.jpg");
  background-size: 80%;   
  background-repeat:  no-repeat;
  background-position: center 20%;
  background-attachment: fixed;
}

h1 {
  font-family: $font-technical;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
  color: $highlight-color;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 3.0rem;
  text-align: center; 
}

h2 {
  font-family: $font-technical;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
  color: $highlight-color-third;
  line-height: 1.2;
  letter-spacing: 0.8rem;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7rem; 
}

.container {
  display: flex;
  justify-content: center;
}
.link-tile-group {
  display: flex;
  max-width: 100rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;/* just in case*/

  .input-container {
    position: relative;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    margin: 0.5rem;

    .link-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid $highlight-color-third;
      border-radius: 5px;
      transition: transform 300ms ease;
      background-color: rgba($dark-color, .6);

      &.locked {
        border: 2px solid $darker-color !important;
      }
    }

    .link-button {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;

      &:hover + .link-tile {
        background-color: $highlight-color-third;
        border: 2px solid $highlight-color-third;
        color: $light-color;
      }
      
      &:hover + .link-tile .icon  {
        svg, img {
          fill: $light-color;
          background-color: $highlight-color-third;
        }
      }
      
      &:hover + .link-tile .link-tile-label {
        color: $light-color;
        background-color: $highlight-color-third;
      }
      
      &:active + .link-tile {
        background-color: darken($highlight-color-third, 20%);
        border: 1px solid darken($highlight-color-third, 20%);
        color: $light-color;
      }
      
      &:active + .link-tile .icon  {
        svg, img {
          fill: $light-color;
          background-color: darken($highlight-color-third, 20%);
        }
      }

      &:active + .link-tile .link-tile-label {
        color: $light-color;
        background-color: darken($highlight-color-third, 20%);
      }
    }

    .icon svg, .icon img {
      fill: rgba( $highlight-color-third, .6);
      width: 15rem;
      height: 8rem;
    }
    
    .link-tile-label {
      text-align: center;
      font-size: 1.00rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
      color:  $highlight-color-third;
      min-height: 2.5rem;
    }

    .inner-hint {
      font-family: $font-technical;
      color: #ABABAB;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding-top: 2rem;
      font-size: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      height: 3rem;
      width: 8.5rem;
      margin-right: 0rem;
    }

    .inner-container {
      font-family: $font-technical;
      color: white;
      text-decoration: none;
      text-align: center;
      padding-top: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      height: 3rem;
      width: 5rem;
      background-color: $highlight-color-third;
      margin-right: -0.3rem;
      border-radius: 5px;
    
      &:hover {
        background-color: $highlight-color-sec;
        color: $light-color;
      }
      
      &:active {
        background-color: darken($highlight-color-sec, 20%);
        color: $light-color;
      }
    }
  }
}