

/* Pixel-art and tech fonts */

@font-face {
  font-family: "Adventure";
  src: url("../font/Adventure_Subtitles.ttf");
}

@font-face {
  font-family: "Dos";
  src: url("../font/PxPlus_IBM_VGA8.ttf");
}

@font-face {
  font-family: "MortalKombat";
  src: url("../font/mk1.ttf");
}

@font-face {
  font-family: "RetroGaming";
  src: url("../font/Retro_Gaming.ttf");
}

/* Traditional fonts */

@font-face {
  font-family: "Bahnschrift";
  src: url("../font/bahnschrift.ttf");
}

@font-face {
  font-family: "Franklin";
  src: url("../font/FRAMDCN.TTF");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../font/Inconsolata.otf");
}

@font-face {
  font-family: "Segoe";
  src: url("../font/segoeui.ttf");
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: "Segoe";
  src: url("../font/segoeuib.ttf");
  font-weight: bold;
  font-style: normal;
} 

@font-face {
  font-family: "Segoe";
  src: url("../font/segoeuii.ttf");
  font-weight: normal;
  font-style: italic;
} 
