@import "./fonts.css";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#container > * {
  position: absolute;
}

.hide {
  display: none;
}

#progress {
  font-family: "Dos";
  font-size: 16px;
  width: 640px;
  height: 480px;
  background-color: #0000FF;
  color: #CDCDCD;
  line-height: 16px;
}

#progress-bar {
  color: #FFFF00;
}


.buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  animation-delay: 5s;
}

.btn {
  font-family: "Dos";
  background: #c65555;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-size: 2vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin: 15px;
  padding-bottom: 10px;
  width: 50%;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #8a3333;
}

.btn:hover,
.btn:focus {
  background: #e57777;
  box-shadow: inset -6px -6px 0px 0px #c65555;
}

.btn:active {
  box-shadow: inset 4px 4px 0px 0px #c65555;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}

.btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}