@import "./fonts.scss";

.reveal {

  .frame-statement,
  .frame-s,
  .frame-m,
  .frame {
    border-image-source: url("../images/common/frame_bluered.png"); 
  }

  .functions table {
    font-family: $font-monospace;
    text-align: right;

    td {
      width: 10%;
      line-height: 80px;
    }
  }

  .red {
    color: red;
  }

  .cyan {
    color: cyan;
  }

  .green {
    color: green;
  }

  .scale {
    transform: scale(1.2, 1.2)
  }

  .sprite-data p {
    font-size: 24px;
    line-height: 36px;
  }

  .jsonstruct p {
    font-size: 24px;
    line-height: 30px;
  }

  .sprite-custom p {
    font-size: 28px;
    line-height: 44px;
  }
}