@import "./fonts.scss";

.reveal {

  .frame-sticky,
  .frame-quote,
  .frame-s,
  .frame-m,
  .frame {
    border-image-source: url("../images/common/frame_greenyellow.png");
  }

  ul.code li {
    line-height: 30px;
  }
}



/* Waveforms example */

.waveforms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  svg {
    display: block;
  }


  .waveforms {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 8px 0;
  }

  .waveforms .waveform {
    border: 3px solid transparent;
    cursor: pointer;
  }

  .waveforms .waveform.active {
    border: 3px solid hsl(120, 100%, 70%);
    border-radius: 2px;
    background-color: #202020;
  }

  @keyframes visualize {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-108px);
    }
  }

  .waveanim {
    animation: visualize 0.2s linear infinite;
    animation-play-state: paused;
  }

  &.playing .active .waveanim {
    animation-play-state: running;
  }

  .button {
    width: 250px;
    margin-top: 8px;
    height: 60px;
    text-align: center;
    padding: 8px 30px;
    background-color: hsl(135, 100%, 91%);
    box-sizing: border-box;
    cursor: pointer;
    font-family: $font-technical;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 40px;
    display: inline-block;
    line-height: 50px;
  }

  .button:hover {
    background-color: lighten(#44BFA3, 5%);
  }
}