@import "./fonts.scss";
@import "./colors.scss";

.reveal {
  .frame, .frame-statement {
    border-image-source: url("../images/common/frame_bluered.png"); 
  }

  .colliders  {
    font-size: 35px;

    .collision {
      color: $highlight-color-sec;
    }
    .trigger {
      color: $highlight-color-third;
    }
  }
}