@import "./fonts.scss";
@import "./colors.scss";

.reveal {
  .frame, .frame-statement {
    border-image-source: url("../images/common/frame_yellow.png"); 
  }

  .languages, .lua-usage {
    p {
      position: absolute;
      transform: translate(-50%, -50%);
      color: $highlight-color;
    }
    :nth-child(1) { 
      left: calc(50% - 0px);
      top: calc(50% - 350px);
    }

    :nth-child(2) { 
      left: calc(50% - 250px);
      top: calc(50% - 250px);
    }
    
    :nth-child(3) { 
      left: calc(50% + 250px);
      top: calc(50% - 250px);
    }
    
    :nth-child(4) {
      left: calc(50% - 300px);
      top: calc(50% - 150px);
    }
    
    :nth-child(5) {
      left: calc(50% + 300px);
      top: calc(50% - 150px);
    }
    
    :nth-child(6) {
      left: calc(50% - 400px);
      top: calc(50% - 50px);
    }
    
    :nth-child(7) { 
      left: calc(50% + 400px);
      top: calc(50% - 50px);
    }
    
    :nth-child(8) { 
      left: calc(50% - 350px);
      top: calc(50% + 50px);
    }
    
    :nth-child(9) { 
      left: calc(50% + 350px);
      top: calc(50% + 50px);
    }
    
    :nth-child(10) { 
      left: calc(50% - 300px);
      top: calc(50% + 150px);
    }

    :nth-child(11) { 
      left: calc(50% + 300px);
      top: calc(50% + 150px);
    }

    :nth-child(12) { 
      left: calc(50% - 200px);
      top: calc(50% + 250px);
    }

    :nth-child(13) { 
      left: calc(50% + 200px);
      top: calc(50% + 250px);
    }

    :nth-child(14) { 
      left: calc(50% - 0px);
      top: calc(50% + 350px);
    }
  }
}