@import "./fonts.css";

.organization, .assessment {
  text-align: center;
}

.organization > div, .assessment > div {
  text-align: left;
  margin-top: 40px;
}

.course-history > div > div > img {
  width: 500px;
  margin: 30px;
}

.lectures, .labs {
  font-size: 50px;
}

.dayoff {
  color: #ff9abb;
}

.lectures li, .labs li {
  list-style-type: none;
  margin-left: -35px;
}


.bulb-desc-green :first-child {
  font-weight: bold;
  color: green;
}

.bulb-desc-orange :first-child {
  font-weight: bold;
  color: orange;
}

.bulb-desc-red :first-child {
  font-weight: bold;
  color: red;
}

.bulb-desc-green :nth-child(2), .bulb-desc-orange :nth-child(2), .bulb-desc-red :nth-child(2) {
  font-size: 32px;
  padding: 0px 80px;
}


.linear-interpolation {
  position: absolute;
  right: 0;
  bottom: 30px;
}