/* Fancy font */
@font-face {
	font-family: "Agency FB";
	src: url("../aph/fonts/AGENCYR.TTF");
}

@font-face {
	font-family: "PxPlus IBM VGA8";
	src: url("../aph/fonts/PxPlus_IBM_VGA8.ttf");
}

/* Serif - SourceSans */
@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-ExtraLight.otf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-ExtraLightIt.otf");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-Light.otf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-LightIt.otf");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-Regular.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-It.otf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-Semibold.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-SemiboldIt.otf");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-Bold.otf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-BoldIt.otf");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-Black.otf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../aph/fonts/SourceSansPro-BlackIt.otf");
	font-weight: 900;
	font-style: italic;
}
