 .print-pdf {

	.reveal {

		.frame {
            background-color: $color-midnight-light !important;
            border: 2px solid $color-rhino-100 !important;
            border-radius: 15px;
		}
	}
}
