include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/bonus_doom/';
- var defaultBgr = 'backgrounds/doom_crt.jpg';

// ===================================================== SLIDES =====================================================
+mchapter('Story of Doom', imgAssets+'chapter_doom.svg')
+frameInbox('Doom')
	div
		ul
			li mojo