- var themePath = '../themes/aph/';

// bubble tooltip
mixin tip(imgurl, text)
	.tip.absolute.content-center.nopadding(class!=(attributes.class ? attributes.class : ''))
		.icon.height-250.width-250.fragment.fade-up(class=attributes.imgclass ? attributes.imgclass : '')
		.content.fragment.fade-up.bottom-100.left-250.fade-up(class!=(attributes.class ? attributes.class : ''))!=text

mixin tipKeen(text)
	+tip(themePath+'resources/keen.png', text)(class='keen')&attributes(attributes)

mixin tipKeen2(text)
	+tip(themePath+'resources/keen2.png', text)(class='keen keen2')&attributes(attributes)

mixin tipKeen3(text)
	+tip(themePath+'resources/keen3.png', text)(class='keen keen3')&attributes(attributes)

mixin tipKeen4(text)
	+tip(themePath+'resources/keen4.png', text)(class='keen keen4')&attributes(attributes)

mixin gbGame(image, text)
	div.relative.height-250
		img.absolute.height-250(src=globalAssets+'gb_cartridge.png')
		.absolute.height-150.left-30.bottom-30.opacity-7.p-3.mb-2
			img(src!=image)
		.absolute.width-160.height-40.bottom-30.left-30.bgr-rhino-100.ml-3.mb-5.opacity-7
		div.absolute.bottom-40.width-160.left-30.text-center.text-xs.font-bold.color-rhino-50!=text

mixin mchapter(text, icon)
	+frameOutbox
		.flex-col.items-center
			.top-28p.text-center
				img.width-650(src!=icon)
				h2.uppercase.font-light.highlight.mt-20.color-rhino-20!=text