mixin quote-doom()
    +mcontainer('Goodbye Quote')
        +frameShard.top-20p
            +quote('So you walk eternally through the shadow realms, standing against evil where all others falter. May your thirst for retribution never quench' +
                ', may the blood on your sword never dry, and may we never need you again.', 'Doom 4')(class="w85")
