mixin quote-doom()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/doom.jpg')
        +frameShard.top-20p
            +quote('So you walk eternally through the shadow realms, standing against evil where all others falter. May your thirst for retribution never quench' +
                ', may the blood on your sword never dry, and may we never need you again.', 'Doom 4')(class="font-dos not-italic")

mixin quote-portal()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/portal.jpg')
        +frameShard.top-20p
            +quote('In dangerous testing environments, the Enrichment Center promises to always provide useful advice.'+
            ' For instance, the floor here will kill you. Try to avoid it.', 'GLaDOS, Portal')(class="font-dos not-italic")

mixin quote-god-of-war()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/god_of_war.png')
        +frameShard.top-20p
            +quote('Hope is what makes us strong. It is why we are here. It is what we fight with when all else is lost.', 'God of War')(class="font-dos not-italic")

mixin quote-planescape()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/planescape.jpg')
        +frameShard.top-20p.width-50p.left-400
            +quote('The weak suffer. I endure.', 'Planescape Torment')(class="font-dos not-italic")

mixin quote-chrono()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/chrono.jpg')
        +frameShard.top-20p.width-50p.left-400
            +quote('Machines aren\'t capable of evil. Humans make them that way', 'Chrono Trigger')(class="font-dos not-italic")

mixin quote-kane()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/red_alert.jpg')
        +frameShard.top-20p.width-50p.left-400
            +quote('He who controls the past commands the future. He who commands the future conquers the past.', 'Kane, C&C Red Alert')(class="font-dos not-italic")

mixin quote-arthas()
    +mcontainer('Goodbye Quote')(bgr='backgrounds/northrend.jpg')
        +frameShard.top-20p.width-50p.left-400
            +quote('Forgiveness is a concern of the living.', 'Arthas, Warcraft 3')(class="font-dos not-italic")

mixin quote-oregon()
    +msection(bgr='backgrounds/oregontrail.jpg')