<!doctype html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Component tests</title>
</head>
<style type="text/css">
  body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  table {
    float: left;
    width: 500px;
  }

  table td, table th {
    border: 1px solid black;
  }

  table td:first-child, table th:first-child {
    width: 80%;
  }

  table td:nth-child(2) {
    font-weight: bold;
  }

  td.success {
    background-color: green;
    color: white;
  }

  td.failure {
    background-color: red;
    color: white;
  }

</style>
<body>
  <canvas id="gameCanvas" width="800" height="600"></canvas>
  <script src="../libs/pixi-component/tests/component-tests.ts"></script>
</body>

</html>