doctype html
head
  meta(charset='utf-8')
  title MI-APH - Architecture of Computer Games
  meta(name='description' content='Dashboard')
  meta(name='author' content='Adam Vesecký')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='../static/slides/images/common/favicon.png')
  link(rel='stylesheet' href='../static/slides/css/dashboard.scss')

include ./partial/dashboard.pug

h1 Architecture of Computer Games

.container
  .link-tile-group
    +contentlink('Organization of the course', 'lecture00')
      include ../static/slides/svg/lecture00/lecture00_logo_small.svg

h2 Lectures
.container
  .link-tile-group
    +contentlink('Introduction to the world of games and game engines', 'lecture01')
      include ../static/slides/svg/lecture01/lecture01_logo_small.svg
    +contentlink('Architecture of Game Engines', 'lecture02')
      include ../static/slides/svg/lecture02/lecture02_logo_small.svg
    +contentlink('Component Architecture I', 'lecture03')
      include ../static/slides/svg/lecture03/lecture03_logo_small.svg
    +contentlink('Component Architecture II', 'lecture04')
      include ../static/slides/svg/lecture04/lecture04_logo_small.svg
    +contentlink('Game Programming Patterns', 'lecture05')
      include ../static/slides/svg/lecture05/lecture05_logo_small.svg
    +contentlink('Math and Dynamics', 'lecture06')
      include ../static/slides/svg/lecture06/lecture06_logo_small.svg
    +lock
    +lock
    +lock
    +lock
    +lock
    +lock

h2 Labs
.container
  .link-tile-group
    +contentlink('Introduction to the environment', 'lab01')
      include ../static/slides/svg/lab01/lab01_logo_small.svg
    +contentlink('PIXI Basics', 'lab02')
      include ../static/slides/svg/lab02/lab02_logo_small.svg
    +contentlink('Component architecture', 'lab03')
      include ../static/slides/svg/lab03/lab03_logo_small.svg
    +lock
    +lock
    +lock

h2 Games
.container
  .link-tile-group
    +gamelink('Paratrooper', 'game_paratrooper')
      img(src='../static/slides/images/dashboard/game_paratrooper.png')

h2 Links

include ./partial/links.pug

.container
  .link-tile-group
    - var counter = 0
    - for (var x = 0; x < linkGroups.length; x++)
      - var groupName = linkGroups[x].name
      - for (var y = 0; y < linkGroups[x].links.length; y++)
        - var item = linkGroups[x].links[y]
        +resourcelink(item.title, groupName, item.href, item.type, 'link_' + counter++)

