<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>MI-APH - Architecture of Computer Games</title>
  <meta name="description" content="Intro" />
  <meta name="author" content="Adam Vesecký" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=0">
  <meta name="screen-orientation" content="landscape">

  <link rel="shortcut icon" href="../static/slides/images/common/favicon.png">
  <link rel="stylesheet" href="../static/slides/css/intro.scss" />
</head>

<body>
  <div id="container">
    <div id="progress">
      <p>
        <br>
        &nbsp;APH Setup<br>
        ═══════════════
        <br><br>
        &nbsp; &nbsp; &nbsp; Please wait while Setup loads assets to your memory.<br><br>
        &nbsp; &nbsp; &nbsp; &nbsp • To quit Setup without loading assets, press ESC.<br><br>
        &nbsp; &nbsp; &nbsp; For more information on setting up and using APH version 3.0, <br> &nbsp; &nbsp; &nbsp; see
        the gitlab documentation
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╔═══════════════════════════════════════════════════════════════════╗<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║ Setup is loading assets...
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ║ <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          id="percentage">00%&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┌─────────────────────────────────────────────────────┐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp; <span
          id="progress-bar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
          id="rest">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└─────────────────────────────────────────────────────┘
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;║ <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╚═══════════════════════════════════════════════════════════════════╝ <br>
    </div>
    <div id="intro" class="hide">
      <canvas id="game-canvas"></canvas>
      <div class="buttons">
        <a href="./index.pug" class="btn">START</a>
      </div>
    </div>
  </div>
</body>
<script src="../src/lectures/intro.ts"></script>
</html>