doctype html
- var bgr = './static/slides/bgr/bgr_01.jpg'
include ./partial/header.pug
include ./partial/title.pug
include ./partial/containers.pug
include ./partial/texts.pug

+header('MI-APH - Lab01', 'Lab 1: Introduction to the Environment', 'lab01')

// ===================================================== SLIDES =====================================================
.reveal
  .slides
    // ============================================================
    +msection(bgr)
      .lecture-logo
        include ../static/slides/svg/lab01/lab01_logo.svg
      +title('Introduction to the environment')
    // ============================================================
    +chapter(bgr, 'TypeScript')
    // ============================================================
    +mframe-m(bgr, 'Basic types')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/basic_types.html
    // ============================================================
    +mframe-m(bgr, 'Declarations')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/declarations.html
    // ============================================================
    +mframe-m(bgr, 'Functions')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/functions.html
    // ============================================================
    +mframe-m(bgr, 'Enumerators')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/enumerators.html
    // ============================================================
    +mframe-m(bgr, 'For loop')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/for_loop.html
    // ============================================================
    +mframe-m(bgr, 'Crazy equality')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/crazy_equality.html
    // ============================================================
    +mframe-m(bgr, 'Maps')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/maps.html
    // ============================================================
    +mframe-m(bgr, 'Array operations')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/array_operations.html
    // ============================================================
    +mframe-m(bgr, 'Other constructs')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/other_constructs.html
    // ============================================================
    +mframe-m(bgr, 'Other constructs')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/other_constructs_2.html
    // ============================================================
    +mframe-m(bgr, 'Other constructs')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/other_constructs_3.html
    // ============================================================
    +mframe-m(bgr, 'Classes')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/classes.html
    // ============================================================
    +mframe-m(bgr, 'Inheritance')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/inheritance.html
    // ============================================================
    +mframe-m(bgr, 'Getters and setters')(class='mt300')
      .code
        include ../static/slides/snippets/lab01/getters_setters.html
    // ============================================================
    +mframe-m(bgr, 'Generics')(class='mt350')
      .code
        include ../static/slides/snippets/lab01/generics.html
    // ============================================================
    +mframe-m(bgr, 'Exports and imports')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/exports_imports.html
    // ============================================================
    +mframe-m(bgr, 'Context binding')(class='mt200')
      .code
        include ../static/slides/snippets/lab01/context_binding.html
    // ============================================================
    +chapter(bgr, 'Environment')
    // ============================================================
    +mframe-m(bgr, 'Gitlab')(class='mt350')
      ul
        li
          | Download repository from git: 
          a(href='https://gitlab.fit.cvut.cz/svecadam/MI-APH') https://gitlab.fit.cvut.cz/svecadam/MI-APH
        li Follow instructions in the markdown
        li Install the environment
        li
          | Try out the PixiJS example in 
          a(href='./lab01_sprite.html') lab01_sprite.html
    // ============================================================
    +mframe-m(bgr, 'PixiJS')(class='mt200')
      ul
        li
          i HTML5 Creation Engine
        li Lightweight 2D JavaScript library
        li Supports both Canvas API and WebGL (since 5.x.x only WebGL)
        li Full scene graph, sprite sheets, filters, shaders,...
        li Very similar to PhaserJS game engine (yet it&apos;s way faster)
        li
          | Performance test: 
          a(href='https://themoonrat.github.io/webgl-benchmark') link
        li
          strong Ideal for simple games and rapid prototyping
        br
        li
          a(href='https://www.pixijs.com/') Main page
        li
          a(href='https://github.com/pixijs/pixi.js') Github
        li
          a(href='https://pixijs.download/dev/docs/index.html') Documentation
        li
          a(href='https://pixijs.io/examples') Examples
    // ============================================================
    +mframe-m(bgr, 'PixiJS Exercise')(class='mt250')
      ul
        li Create following animation
        li
          | Use 
          span.code PIXI.Graphics
      figure.h450
        img(src!='../static/slides/images/lab01/exercise.gif')


include ./partial/footer.pug
script(src!='../libs/revealjs/revealjs.ts')
script(src!='../src/lectures/reveal-setup.ts')
