-
  var clips = [{
  label: "Lecture 05",
  name: "Rampart (First Tower defense) preview",
  link: "https://youtu.be/5y_DKF3Yz1g"
  },
  {
  label: "Lecture 06",
  name: "Map size comparison",
  link: "https://youtu.be/WCKwYDZneh8"
  },
  {
  label: "Lecture 06",
  name: "Procedural animations",
  link: "https://youtu.be/I1lEZCuBW6c"
  },
  {
  label: "Lecture 07",
  name: "Skyrim rotation glitch",
  link: "https://youtu.be/xDvVQsr4E0U"
  },
  {
  label: "Lecture 07",
  name: "Gimbal lock issue",
  link: "https://youtu.be/1NDgY7MRoGw"
  },
  {
  label: "Lecture 07",
  name: "Tomb raider physics-anim sync",
  link: "https://youtu.be/IJKYPbxFMoA"
  },
  {
  label: "Lecture 07",
  name: "Demoscene - Agenda circling forth",
  link: "https://youtu.be/WcCiKqYgSio"
  },
  {
  label: "Lecture 07",
  name: "Fluidanim simulation",
  link: "https://youtu.be/2vqlEVId32g"
  },
  {
  label: "Lecture 08",
  name: "Open-world rendering hacks",
  link: "https://youtu.be/MvbdSV8Zt38"
  },
  {
  label: "Lecture 08",
  name: "Minecraft Ray-tracing",
  link: "https://youtu.be/Bf6g6q3GjkQ"
  },
  {
  label: "Lecture 09",
  name: "Occupancy Grid",
  link: "https://youtu.be/mawpJPyyxiE"
  },
  {
  label: "Lecture 09",
  name: "ORCA preview",
  link: "https://youtu.be/yfxejyp04DI"
  },
  {
  label: "Lecture 09",
  name: "DeepDrive for GTA",
  link: "https://youtu.be/jfoeGhU7chs"
  },
  {
  label: "Lecture 09",
  name: "Google Deepmind",
  link: "https://youtu.be/fB3OoZOD95s"
  },
  {
  label: "Lecture 09",
  name: "GOAP in F.E.A.R.",
  link: "https://youtu.be/ASLcve3_SV8"
  },
  {
  label: "Lecture 09",
  name: "Pathfinding glitch",
  link: "https://youtu.be/7Mh1TJKD31I"
  },
  {
  label: "Lecture 09",
  name: "MarI/O Deeplearning",
  link: "https://youtu.be/rmmKu0v8mLc"
  },
  {
  label: "Lecture 11",
  name: "Megaglest preview",
  link: "https://youtu.be/r6R0zoTOHS4"
  },
  {
  label: "Lecture 11",
  name: "Heroes of Newerth command lag",
  link: "https://youtu.be/qqGFQ4J3RXI"
  },
  {
  label: "Lecture 11",
  name: "Heroes of Newerth sound lag",
  link: "https://youtu.be/GbLGhQSHO8k"
  }
  ];