mixin header(title, content, style)
  head
    meta(charset='utf-8')
    title=title
    meta(name='description' content=content)
    meta(name='author' content='Adam Vesecký')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='HandheldFriendly' content='true')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='viewport' content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=0')
    meta(name='screen-orientation' content='landscape')
    link(rel='shortcut icon' href='../static/slides/images/common/favicon.png')
    link(rel='stylesheet' href='../static/revealjs/css/reset.css')
    link(rel='stylesheet' href='../static/revealjs/css/reveal.css')
    link#theme(rel='stylesheet' href='../static/slides/css/theme.scss')
    link(rel='stylesheet' href='../static/slides/css/slides.scss')
    link(rel='stylesheet' href='../static/slides/css/'+style+'.scss')