-
  var linkGroups = [{
  name: "Lecture01",
  links: [{
  href: "https://www.amazon.com/Engine-Architecture-Third-Jason-Gregory/dp/1138035459",
  title: "Architecture of game engines",
  type: "book"
  },
  {
  href: "http://osgameclones.com/",
  title: "List of open-source game clones",
  type: "article"
  },
  {
  href: "https://www.pocketgamer.biz/comment-and-opinion/64198/a-messy-history-of-game-engines-offers-a-warning-for-the-future/",
  title: "A messy history of game engines",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=ehdjlXUfkTo",
  title: "History of games in 90 seconds",
  type: "movie"
  },
  {
  href: "https://ultimatehistoryvideogames.jimdo.com/",
  title: "Milestones in game history",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=6A4-SVUHQYI",
  title: "Making of Doom",
  type: "movie"
  },
  {
  href: "https://www.youtube.com/watch?v=w0DGaKsheDw",
  title: "Making of Quake",
  type: "movie"
  }]
  },
  {
  name: "Lecture02",
  links: [{
  href: "https://webglfundamentals.org/webgl/lessons/webgl-scene-graph.html",
  title: "WebGL scene graph explained",
  type: "article"
  },
  {
  href: "http://www.sbgames.org/sbgames2016/downloads/anais/157539.pdf",
  title: "Game loop model properties on multi-core CPU",
  type: "article"
  }]
  },
  {
  name: "Lab02",
  links: [{
  href: "https://www.adammarcwilliams.co.uk/creating-bitmap-text-pixi/",
  title: "How to create bitmap fonts",
  type: "hint"
  },
  {
  href: "http://bbcsfx.acropolis.org.uk/",
  title: "BBC free sound effects",
  type: "library"
  },
  {
  href: "http://opengameart.org/",
  title: "Free game assets",
  type: "library"
  }]
  },
  {
  name: "Lecture03",
  links: [{
  href: "https://www.raywenderlich.com/24878/introduction-to-component-based-architecture-in-games",
  title: "Introduction to Component Based Architecture in Games",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=mNulWXcJ1JA",
  title: "Game architecture and component systems",
  type: "movie"
  },
  {
  href: "https://www.randygaul.net/2013/05/20/component-based-engine-design/",
  title: "Component-based engine design",
  type: "article"
  }]
  },
  {
  name: "Lecture04",
  links: [{
  href: "https://ecsy.io/",
  title: "ECSY pattern",
  type: "library"
  }]
  },
  {
  name: "Lecture05",
  links: [{
  href: "https://gameprogrammingpatterns.com/",
  title: "Game Programming Patterns",
  type: "book"
  }]
  },
  {
  name: "Lecture06",
  links: [{
  href: "https://www.amazon.com/Essential-Mathematics-Games-Interactive-Applications/dp/0123742978",
  title: "Essential Mathematics for Games and Interactive Applications",
  type: "book"
  },
  {
  href: "https://hackernoon.com/how-does-javascripts-math-random-generate-random-numbers-ef0de6a20131",
  title: "JavaScript's Math.random()",
  type: "article"
  },
  {
  href: "https://gamedevelopment.tutsplus.com/series/understanding-steering-behaviors--gamedev-12732",
  title: "Understanding Steering Behaviors",
  type: "article"
  },
  {
  href: "https://www.gamasutra.com/blogs/AAdonaac/20150903/252889/Procedural_Dungeon_Generation_Algorithm.php",
  title: "Procedural Dungeon Generation",
  type: "article"
  }]
  },
  {
  name: "Lecture07",
  links: [{
  href: "https://medium.com/@MerciMichel/ouigo-lets-play-case-study-b763f69dd89c",
  title: "Making of Pinball game",
  type: "article"
  },
  {
  href: "https://www.amazon.com/Game-Physics-Engine-Development-Commercial-Grade/dp/0123819768",
  title: "Game Physics Engine Development",
  type: "book"
  }]
  },
  {
  name: "Lab04",
  links: [{
  href: "https://www.codeandweb.com/texturepacker/tutorials/how-to-create-sprite-sheets-and-animations-with-pixijs",
  title: "How to create sprite sheets and animations with PixiJS",
  type: "hint"
  }]
  },
  {
  name: "Lecture08",
  links: [{
  href: "https://www.youtube.com/watch?v=UZH4vZ0NDAw",
  title: "GPU pipeline explained",
  type: "movie"
  }]
  },
  ];