-
  var linkGroups = [{
  name: "Lecture01",
  links: [{
  href: "https://www.amazon.com/Engine-Architecture-Third-Jason-Gregory/dp/1138035459",
  title: "Architecture of game engines",
  type: "book"
  },
  {
  href: "http://osgameclones.com/",
  title: "List of open-source game clones",
  type: "article"
  },
  {
  href: "https://www.pocketgamer.biz/comment-and-opinion/64198/a-messy-history-of-game-engines-offers-a-warning-for-the-future/",
  title: "A messy history of game engines",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=ehdjlXUfkTo",
  title: "History of games in 90 seconds",
  type: "movie"
  },
  {
  href: "https://ultimatehistoryvideogames.jimdo.com/",
  title: "Milestones in game history",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=6A4-SVUHQYI",
  title: "Making of Doom",
  type: "movie"
  },
  {
  href: "https://www.youtube.com/watch?v=w0DGaKsheDw",
  title: "Making of Quake",
  type: "movie"
  }]
  },
  {
  name: "Lecture02",
  links: [{
  href: "https://webglfundamentals.org/webgl/lessons/webgl-scene-graph.html",
  title: "WebGL scene graph explained",
  type: "article"
  },
  {
  href: "http://www.sbgames.org/sbgames2016/downloads/anais/157539.pdf",
  title: "Game loop model properties on multi-core CPU",
  type: "article"
  }]
  },
  {
  name: "Lab02",
  links: [{
  href: "https://www.adammarcwilliams.co.uk/creating-bitmap-text-pixi/",
  title: "How to create bitmap fonts",
  type: "hint"
  },
  {
  href: "http://bbcsfx.acropolis.org.uk/",
  title: "BBC free sound effects",
  type: "library"
  },
  {
  href: "http://opengameart.org/",
  title: "Free game assets",
  type: "library"
  }]
  },
  {
  name: "Lecture03",
  links: [{
  href: "https://www.raywenderlich.com/24878/introduction-to-component-based-architecture-in-games",
  title: "Introduction to Component Based Architecture in Games",
  type: "article"
  },
  {
  href: "https://www.youtube.com/watch?v=mNulWXcJ1JA",
  title: "Game architecture and component systems",
  type: "movie"
  },
  {
  href: "https://www.randygaul.net/2013/05/20/component-based-engine-design/",
  title: "Component-based engine design",
  type: "article"
  }]
  },
  {
  name: "Lecture04",
  links: [{
  href: "https://ecsy.io/",
  title: "ECSY pattern",
  type: "library"
  }]
  }
  ];