mixin title(title)
  h1!=title
  .cvut-logo
    div
      img(alt='CVUT Logo' src!='../static/slides/images/common/cvut_logo.png')
    div
      div FIT ČVUT, ZS 2019
      div Ing. Adam Vesecký
      div vesecky.adam@gmail.com
  .frame-sticky.cpr
    div Czech technical University in Prague
    div Faculty of Information Technology
    div Department of Software Engineering
    div &copy; Adam Vesecký, MI-APH, 2019

mixin chapter(bgr, chapter)
  +mcontainer(bgr)(class="center-content")
    h2!=chapter